<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Island</title>
</head>
<body>
    <h1>生成您的專屬島嶼🏝️</h1>
    <form id="threadsForm" action="/submit" method="POST">
        <label for="thread_id">請輸入您的Threads ID: @</label>
        <input type="text" id="thread_id" name="thread_id" placeholder="DCT.Island" required>
        <button type="submit">提交</button>
    </form>
</body>
</html>
